{%extends "registration/base.html"%}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<div class="bg">

<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Some Information Might be Incorrect </p>
      {% endif %}
      <div class="card" style="margin-top:10vh;">

        <div class="card-header">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="card-body">

          <form  action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}

            <div class="form-group text-center">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
              <p>Already have an account? <a href="/accounts/login">Sign In</a></p>

            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

</div>

<style>
.text-muted{
  display: none;
}

body, html {
  height: 100%;
  margin: 0;

}
.bg{
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("{% static 'images/background.jpg' %}") fixed;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.card{
  background-color: rgba(0,0,0,0.7)
}
.card-header, .card-footer{ opacity: 1}
h3{
  font-weight: bold;
  color: white;
}
p, label{
  color:white;
  font-size: 15px;
}
input{
  text-align: center;
}

</style>


{% endblock %}
